<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./css/main.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./css/util.css') }}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/animate/animate.css')}}" >
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/perfect-scrollbar/perfect-scrollbar.css')}}">
    <!--===============================================================================================-->
</head>
<body>
    <div class="head-container">
        <div class="wrapper-head">
            <div class="search">
                <form action="http://127.0.0.1:5000/search" method="post">
                    <select class="search-type" name="search_type">
                        <option value="name">Name</option>
                        <option value="phone">Phone</option>
                        <option value="email">Email</option>
                    </select>
                </form>
                <input class="search-box" type="text" name="search_value" placeholder="Search.....">
                <a href="http://127.0.0.1:5000/home" ">
                    <button style="color: violet; font-size: 30px; text-align: center;">
                        Home
                    </button>
                </a>
            </div>
        </div>
    </div>
    </div>
        {% block body %}
        {% endblock body %}
    </div>
</body>